.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  background-color: rgba(26, 11, 46, 1);
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.hero-section {
  background: url(./B13-A02-TechWave/assets/hero-bg.png);
  background-repeat: no-repeat;
}



.hero-sec-btn-2 {
  border: 1px solid #00FF88;
}